[user]
	name = David Pacheco
	email = dap@cs.brown.edu

[includeIf "gitdir:~/oxide/"]
	path = ~/oxide/.gitconfig

[core]
	excludesfile = /Users/dap/.gitignore
	pager = cat

[branch]
	autosetuprebase = always

[merge]
	conflictstyle = "diff3"
