[user]
	name = David Pacheco
	email = dap@cs.brown.edu

[includeIf "gitdir:~/oxide/"]
	path = ~/oxide/.gitconfig

[core]
	excludesfile = /Users/dap/.gitignore
	pager = cat

[branch]
	autosetuprebase = always

[merge]
	conflictstyle = "diff3"

[init]
	defaultBranch = main

# ssh is needed instead of HTTPS to clone some private Oxide repos.
[url "ssh://git@github.com/"]
        insteadOf = https://github.com/
